body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    font-size: 9px;
    color: #c9c9c9;

}
.test-form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 6pt 12pt;
    margin: 3pt 0 0 0;
    border-radius: 2pt;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#results {
    background-color: white;
    padding: 5pt;
    border: 1px solid black;
    border-radius: 2pt;
    margin-top: 6pt;
    white-space: pre-wrap;
    font-family: monospace;
}

zero-md {
    display: block;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

.hidden {
    display: none;
}